@charset "utf-8";

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body{
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	color: #333;
	text-align: left;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

section,
footer{
	display: block;
}

body,
h2,
h3,
div,
p{
	margin: 0;
	padding: 0;
	font-weight: inherit;
}

h2,
h3{
	font-size: 100%;
}

*, *::before, *::after
	{box-sizing: border-box;
}

span{
	display: inline-block;
}
.br_t_s		{ margin-top: 18px; }

.txt_sml{
	font-size: 0.88em !important;
	line-height: 1.6;
}

.fa		{ margin-right: 0.5em; }
a .fa	{ margin-left: 0.5em; }
.fa.fa_r { margin-right: 0 !important; }
